# Configuration file

"entities in crate drops" {
    # Must Have a weight. [default: [Cow:10]]
    S:"Mobs contained in crate drops" <
        Cow:15
        Sheep:15
        Chicken:6
        Squid:6
        Silverfish:6
        Spider:6
        Horse:10
        Pig:15
     >
}


##########################################################################################################
# items in utility crate drops
#--------------------------------------------------------------------------------------------------------#
# syntax is: modName:itemName,amount,metaData,itemWeight
##########################################################################################################

"items in utility crate drops" {
    # Happy Birthday! [default: [minecraft:redstone,5,0,1], [air_support:circuit_board,2,0,1]]
    S:"Items contained in utility crate drops" <
        immersiveengineering:ore,10,0,1
     >
}


"random grief drops" {
    I:"Amount of Grief Drops"=10

    # Good Luck.
    B:"Enable Random Grief Drops"=true

    # Because of Kehaan.
    B:"Only Drop TNT When Griefing"=true
    I:"Random Chance of Grief Drops lower numbers = more chance."=5
}


##########################################################################################################
# vanilla mob spawn control
#--------------------------------------------------------------------------------------------------------#
# If normal spawning is required set option to true and a re-start is required
##########################################################################################################

"vanilla mob spawn control" {
    # Bats etc.
    B:"AMBIENT Mobs can spawn in the world"=true

    # Cows, Pigs etc.
    B:"CREATURE Mobs can spawn in the world"=true

    # Zombies, Skeletons etc.
    B:"MONSTER Mobs can spawn in the world"=true

    # Squids etc.
    B:"WATER_CREATURE Mobs can spawn in the world"=false
}


